/*************THEME ONE***************/

$vddb: hsl(222, 26%, 31%);
$vddbs: hsl(223, 31%, 20%);
$vddbsb: hsl(224, 36%, 15%);
$ddbk: hsl(225, 21%, 49%);
$ddbks: hsl(224, 28%, 35%);
$blood: hsl(6, 63%, 50%);
$dblood: hsl(6, 70%, 34%);
$lgo: hsl(30, 25%, 89%);
$go: hsl(28, 16%, 65%);
$vdgb: hsl(221, 14%, 31%);
$crack: hsl(0, 0%, 100%);



/*************THEME TWO***************/


$lg: hsl(0, 0%, 90%);;
$gr: hsl(0, 5%, 81%);
$vlg: hsl(0, 0%, 93%);
$dmc: hsl(185, 42%, 37%);
$vdc: hsl(185, 58%, 25%);
$o: hsl(25, 98%, 40%);
$do: hsl(25, 99%, 27%);
$lgy: hsl(45, 7%, 89%);
$dgy: hsl(35, 11%, 61%);
$vdgy: hsl(60, 10%, 19%);



/*************THEME THREE***************/
$vdv: hsl(268, 75%, 9%);
$vdvs: hsl(268, 71%, 12%);
$dv: hsl(281, 89%, 26%);
$vm: hsl(285, 91%, 52%);
$pc: hsl(176, 100%, 44%);
$sc: hsl(177, 92%, 70%);
$vdvy: hsl(268, 47%, 21%);
$dm: hsl(290, 70%, 36%);
$ly: hsl(52, 100%, 62%);
$vdb: hsl(198, 20%, 13%);