@import 'colors';


.container{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 30px;

  @include mobile{
    width: 90%;
  }

  
  .display{
    border-radius: 10px;
    border: none;
    outline: none;
    height: 80px;
    width: 100%;
    background-color: $vddbsb;
    margin-bottom: 15px;
    font-size: 40px;
    padding: 15px;
    color: white;
    cursor: text;
    font-weight: 400;
    text-align: right;
  }
  
}