@import 'colors';

.head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

  .logo{
    color: var(--logo);
    font-size: 20px;
    text-transform: lowercase;
  }

  .slider-container{
    display: flex;
    gap: 15px;
    align-items: flex-end;

    p{
        color: var(--text);
        text-transform: uppercase;
      }

    .slider{
      display: flex;
      flex-direction: column;
      gap: 3px;
      
      p{
        color: var(--text);
        text-transform: uppercase;
      }

      .top{
        display: flex;
        justify-content: space-around;

        p{
          font-size: 8px;
        }
      }
      .bottom{
        display: flex;
        justify-content: center;
        border-radius: 50px;
        background-color: var(--switch-background);
        padding: 3px;

        input {
          height: 15px;
          width: 15px;
          appearance: none;
          cursor: pointer;
          border-radius: 50%;
          opacity: 0;
        }
        #one {
          opacity: 1;
          background-color: var(--solve-btn);
        }
        #one:hover{
          background-color: var(--solve-btn-hover);
        }
        #two {
          opacity: 0;
          background-color: var(--switch);
        }
        #two:hover{
          background-color: var(--switch-hover);
        }
        #three {
          opacity: 0;
          background-color: var(--switch-purple);
        }
        #three:hover{
          background-color: var(--switch-purple-hover);
        }
      }
    }
  }
}