/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 30px;
}
.container .display {
  border-radius: 10px;
  border: none;
  outline: none;
  height: 80px;
  width: 100%;
  background-color: hsl(224, 36%, 15%);
  margin-bottom: 15px;
  font-size: 40px;
  padding: 15px;
  color: white;
  cursor: text;
  font-weight: 400;
  text-align: right;
}

/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.head .logo {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  text-transform: lowercase;
}
.head .slider-container {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}
.head .slider-container p {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.head .slider-container .slider {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.head .slider-container .slider p {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.head .slider-container .slider .top {
  display: flex;
  justify-content: space-around;
}
.head .slider-container .slider .top p {
  font-size: 8px;
}
.head .slider-container .slider .bottom {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: hsl(224, 36%, 15%);
  padding: 3px;
}
.head .slider-container .slider .bottom input {
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
}
.head .slider-container .slider .bottom #one {
  opacity: 1;
  background-color: hsl(6, 63%, 50%);
}
.head .slider-container .slider .bottom #one:hover {
  background-color: hsl(6, 69%, 57%);
}
.head .slider-container .slider .bottom #two {
  opacity: 0;
  background-color: hsl(6, 63%, 50%);
}
.head .slider-container .slider .bottom #two:hover {
  background-color: hsl(6, 69%, 57%);
}
.head .slider-container .slider .bottom #three {
  opacity: 0;
  background-color: hsl(176, 100%, 44%);
}
.head .slider-container .slider .bottom #three:hover {
  background-color: hsl(177, 92%, 70%);
}

/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
.buttons-container {
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  padding: 15px;
}
.buttons-container .one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}
.buttons-container .one button {
  height: 50px;
  font-size: 25px;
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.buttons-container .one button:hover {
  background-color: hsl(0, 0%, 100%);
}
.buttons-container .one .delete-btn {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  font-size: 17px;
}
.buttons-container .one .delete-btn:hover {
  background-color: hsl(225, 38%, 65%);
}
.buttons-container .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.buttons-container .bottom button {
  height: 50px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  cursor: pointer;
}
.buttons-container .bottom .reset-btn {
  background-color: hsl(225, 21%, 49%);
}
.buttons-container .bottom .reset-btn:hover {
  background-color: hsl(225, 38%, 65%);
}
.buttons-container .bottom .solve-btn {
  background-color: hsl(6, 63%, 50%);
}
.buttons-container .bottom .solve-btn:hover {
  background-color: hsl(6, 69%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

main {
  background-color: hsl(222, 26%, 31%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}/*# sourceMappingURL=styles.css.map */