/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 30px;
}
@media screen and (width <= 375px) {
  .container {
    width: 90%;
  }
}
@media screen and (376px <= width <= 540px) {
  .container {
    width: 70%;
  }
}
@media screen and (541px <= width <= 768px) {
  .container {
    width: 50%;
  }
}
.container .display {
  border-radius: 10px;
  border: none;
  outline: none;
  height: 80px;
  width: 100%;
  background-color: var(--display-background);
  margin-bottom: 15px;
  font-size: 40px;
  padding: 15px;
  color: var(--display-text);
  cursor: text;
  font-weight: 400;
  text-align: right;
}

/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.head .logo {
  color: var(--logo);
  font-size: 20px;
  text-transform: lowercase;
}
.head .slider-container {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}
.head .slider-container p {
  color: var(--text);
  text-transform: uppercase;
}
.head .slider-container .slider {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.head .slider-container .slider p {
  color: var(--text);
  text-transform: uppercase;
}
.head .slider-container .slider .top {
  display: flex;
  justify-content: space-around;
}
.head .slider-container .slider .top p {
  font-size: 8px;
}
.head .slider-container .slider .bottom {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--switch-background);
  padding: 3px;
}
.head .slider-container .slider .bottom input {
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
}
.head .slider-container .slider .bottom #one {
  opacity: 1;
  background-color: var(--solve-btn);
}
.head .slider-container .slider .bottom #one:hover {
  background-color: var(--solve-btn-hover);
}
.head .slider-container .slider .bottom #two {
  opacity: 0;
  background-color: var(--switch);
}
.head .slider-container .slider .bottom #two:hover {
  background-color: var(--switch-hover);
}
.head .slider-container .slider .bottom #three {
  opacity: 0;
  background-color: var(--switch-purple);
}
.head .slider-container .slider .bottom #three:hover {
  background-color: var(--switch-purple-hover);
}

/*************THEME ONE***************/
/*************THEME TWO***************/
/*************THEME THREE***************/
.buttons-container {
  background-color: var(--button-container-background);
  border-radius: 10px;
  padding: 15px;
}
.buttons-container .one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}
.buttons-container .one button {
  height: 50px;
  font-size: 25px;
  color: var(--button-text-color);
  background-color: var(--button-background);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px var(--box-shadow);
}
.buttons-container .one button:hover {
  background-color: var(--button-hover);
}
.buttons-container .one .delete-btn {
  background-color: var(--delete-btn);
  color: var(--bottom-text);
  font-size: 17px;
  box-shadow: 0px 5px 0px 0px var(--delete-btn-shadow);
}
.buttons-container .one .delete-btn:hover {
  background-color: var(--delete-btn-hover);
}
.buttons-container .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.buttons-container .bottom button {
  height: 50px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: var(--bottom-text);
  text-transform: uppercase;
  cursor: pointer;
}
.buttons-container .bottom .reset-btn {
  background-color: var(--reset-btn);
  box-shadow: 0px 5px 0px 0px var(--delete-btn-shadow);
}
.buttons-container .bottom .reset-btn:hover {
  background-color: var(--reset-btn-hover);
}
.buttons-container .bottom .solve-btn {
  background-color: var(--solve-btn);
  color: var(--text);
  box-shadow: 0px 5px 0px 0px var(--solve-btn-shadow);
}
.buttons-container .bottom .solve-btn:hover {
  background-color: var(--solve-btn-hover);
}

:root {
  --page-background: hsl(222, 26%, 31%);
  --display-background: hsl(224, 36%, 15%);
  --display-text: hsl(0, 0%, 100%);
  --button-container-background: hsl(223, 31%, 20%);
  --button-background: hsl(30, 25%, 89%);
  --button-text-color: hsl(221, 14%, 31%);
  --button-hover: hsl(0, 0%, 100%);
  --delete-btn: hsl(225, 21%, 49%);
  --delete-btn-hover: hsl(225, 38%, 65%);
  --bottom-button-text-color: hsl(0, 0%, 100%);
  --reset-btn: hsl(225, 21%, 49%);
  --reset-btn-hover: hsl(225, 38%, 65%);
  --solve-btn: hsl(6, 63%, 50%);
  --solve-btn-hover: hsl(6, 69%, 57%);
  --logo: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 100%);
  --switch-background: hsl(224, 36%, 15%);
  --switch: hsl(6, 63%, 50%);
  --switch-hover: hsl(6, 69%, 57%);
  --switch-purple: hsl(176, 100%, 44%);
  --bottom-text: hsl(0, 0%, 100%);
  --switch-purple-hover: hsl(177, 92%, 70%);
  --box-shadow: hsl(28, 16%, 65%);
  --delete-btn-shadow: hsl(224, 28%, 35%);
  --solve-btn-shadow: hsl(6, 70%, 34%);
}

.light {
  --page-background: hsl(0, 0%, 90%);
  --display-background: hsl(0, 0%, 93%);
  --display-text: hsl(60, 10%, 19%);
  --button-container-background: hsl(0, 5%, 81%);
  --button-background: hsl(45, 7%, 89%);
  --button-text-color: hsl(60, 10%, 19%);
  --button-hover: hsl(0, 0%, 100%);
  --delete-btn: hsl(185, 58%, 25%);
  --delete-btn-hover: hsl(185, 42%, 37%);
  --bottom-button-text-color: hsl(0, 0%, 100%);
  --reset-btn: hsl(185, 58%, 25%);
  --reset-btn-hover: hsl(185, 42%, 37%);
  --solve-btn: hsl(25, 98%, 40%);
  --solve-btn-hover: hsl(6, 69%, 57%);
  --logo: hsl(60, 10%, 19%);
  --text: hsl(60, 10%, 19%);
  --bottom-text: hsl(0, 0%, 100%);
  --switch-background: hsl(0, 5%, 81%);
  --box-shadow: hsl(28, 16%, 65%);
  --delete-btn-shadow: hsl(185, 58%, 25%);
  --solve-btn-shadow: hsl(25, 99%, 27%);
}

.purple {
  --page-background: hsl(268, 75%, 9%);
  --display-background: hsl(268, 71%, 12%);
  --display-text: hsl(52, 100%, 62%);
  --button-container-background: hsl(268, 71%, 12%);
  --button-background: hsl(268, 47%, 21%);
  --button-text-color: hsl(52, 100%, 62%);
  --button-hover: hsl(281, 89%, 26%);
  --delete-btn: hsl(281, 89%, 26%);
  --delete-btn-hover: hsl(285, 91%, 52%);
  --bottom-button-text-color: hsl(0, 0%, 100%);
  --reset-btn: hsl(281, 89%, 26%);
  --reset-btn-hover: hsl(285, 91%, 52%);
  --solve-btn: hsl(176, 100%, 44%);
  --solve-btn-hover: hsl(177, 92%, 70%);
  --solve-btn-text: hsl(268, 47%, 21%);
  --logo: hsl(52, 100%, 62%);
  --text: hsl(52, 100%, 62%);
  --bottom-text: hsl(0, 0%, 100%);
  --switch-background: hsl(268, 71%, 12%);
  --box-shadow: hsl(290, 70%, 36%);
  --delete-btn-shadow: hsl(285, 91%, 52%);
  --solve-btn-shadow: hsl(177, 92%, 70%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

main {
  background-color: var(--page-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}/*# sourceMappingURL=styles.css.map */